body{
  overflow: hidden;
  margin: 0;
  background-color: black;
}

#target{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

#target img{
  height: 80vh;
}
