body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App img{
  width: 40vw;
  height: auto;
}


.App div{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App div:first-child img{
  filter: blur(2px) contrast(200%);
}


.App div:nth-child(2) img{
  filter: blur(10px) grayscale(80%) hue-rotate(90deg);
}


.App div:nth-child(3) img{
  filter: contrast(200%) invert(75%);
}

.App div:nth-child(4) img{
  filter: blur(5px) brightness(0.4);
}


.App div:nth-child(5) img{
  filter: blur(2px) contrast(500%);
}


.App div:nth-child(6) img{
  filter: blur(2px) contrast(500%);
}


.App div:nth-child(7) img{
  filter: blur(10px) grayscale(80%);
}


.App div:nth-child(8) img{
  filter: contrast(200%) invert(75%);
}
